<div style="max-width: 600px; margin: auto; font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="font-size: 1.2em; margin-bottom: 10px;">Converte uma temperatura de Celsius para Fahrenheit e Kelvin</div>

    
    <div style="margin-top: 20px;">
        <label for="temperaturaCelsius" style="display: block; margin-bottom: 5px;">Temperatura em °C</label>
        <input id="temperaturaCelsius" type="number" [(ngModel)]="temperaturaCelsius" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">    
    </div>
    
    <div style="margin-top: 20px; text-align: center;">
        <button (click)="converter()" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 1em;">Calcular</button>
    </div>
    
    <div style="margin-top: 20px; text-align: center;">
        <p style="font-size: 1.2em;">Essa temperatura em Fahrenheit é: <strong>{{ temperaturaFahrenheit.toFixed(2) }}°F</strong></p>
        <p style="font-size: 1.2em;">Essa temperatura em Kelvin é: <strong>{{ temperaturaKelvin.toFixed(2) }}K</strong></p>
    </div>
</div>